<h2 mat-dialog-title>{{ message }}</h2>
<mat-dialog-content>
  <form #reasonForm="ngForm" (ngSubmit)="confirm(reasonForm)" class="space-y-4">
    <!-- reason -->
    <div class="mb-6">
      <label
        for="base-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Lý do</label
      >
      <input
        type="text"
        id="reason-input"
        name="reason"
        required
        ngModel
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
  </form>
  <notifier-container></notifier-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button
    class="bg-blue-700 hover:bg-blue-800"
    style="color: white; background-color: #1a56db"
    type="submit"
    mat-button
    [disabled]="reasonForm.invalid"
    (click)="confirm(reasonForm)"
    mat-dialog-close="true"
  >
    Xác nhận
  </button>
</mat-dialog-actions>
