<header>
  <nav
    class="bg-primary-600 border-gray-200 h-12 dark:bg-gray-800 fixed top-0 w-full z-10"
  >
    <div
      class="flex flex-wrap justify-between items-center ml-6 max-w-screen-xl"
    >
      <!-- Login/Signup/Account/Post/Notifications -->
      <div class="flex items-center">
        <!-- Avatar and name -->
        <div
          *ngIf="isAuthenticatedUser"
          class="flex flex-row gap-1 cursor-pointer relative left-8"
        >
          <img
            *ngIf="user?._avatar"
            src="{{ user?._avatar }}"
            (click)="updateAvatar()"
            class="w-8 h-8 rounded-full relative top-2"
            alt="Rounded avatar"
          />
          <a
            [matMenuTriggerFor]="setting"
            class="relative top-1 text-white-text-color dark:text-white focus:ring-4 focus:ring-gray-300 rounded-lg text-sm font-normal lg:py-2.5 ml-1 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
            >{{ fullName }}</a
          >
          <mat-menu #setting="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span class="text-primary-text-color mb-0 text-sm"
                >Đăng xuất</span
              >
            </button>
          </mat-menu>
        </div>
        <div *ngIf="isAuthenticatedUser">
          <button
            *ngIf="isAuthenticatedUser"
            [matMenuTriggerFor]="menu"
            class="tooltip-block"
            [matBadge]="notificationTotals"
            aria-hidden="false"
            matBadgeColor="warn"
            class="relative top-1.5 cursor-pointer ml-10"
          >
            <mat-icon> notifications</mat-icon>
          </button>
          <mat-menu
            #menu="matMenu"
            yPosition="below"
            xPosition="after"
            class="max-h-128 overflow-scroll scroll-smooth scrollbar-hide"
            style="padding: 0px; min-width: 250px"
          >
            <a (click)="$event.stopPropagation()">
              <!-- Main Content for Notifications -->
              <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                <!-- Unseen -->
                <mat-tab
                  label="Chưa đọc"
                  class="text-blue-500 cursor-pointer hover:text-blue-600"
                >
                  <div
                    *ngIf="
                      unseenNotificaionList.length > 0;
                      else noUnseenNotifications
                    "
                    class="flex flex-col"
                  >
                    <div
                      *ngFor="let noti of unseenNotificaionList; index as i"
                      class="flex flex-col text-sm pr-3 pl-3 pt-3 hover:cursor-pointer hover:bg-gray-100"
                      (click)="readNotiDetail(noti)"
                    >
                      <p class="text-primary-text-color font-medium mb-0">
                        {{ noti._title }}
                      </p>
                      <p
                        mat-raised-button
                        class="text-sub-text-color line-clamp-2"
                        [matTooltip]="noti._message"
                        [matTooltipPosition]="'left'"
                        [matTooltipClass]="'mr-3'"
                        matTooltipHideDelay="400"
                      >
                        {{ noti._message }}
                      </p>
                    </div>
                  </div>
                  <div
                    (click)="seeMoreNoti('unseen')"
                    *ngIf="
                      this.unseenNotiPagination!.page <
                      this.unseenNotiPagination!.total
                    "
                  >
                    <p
                      class="text-sm text-center text-blue-500 hover:text-blue-700 cursor-pointer"
                    >
                      Xem thêm
                    </p>
                  </div>
                  <ng-template #noUnseenNotifications>
                    <p class="py-3 text-sm text-sub-text-color text-center">
                      Không có thông báo mới
                    </p>
                  </ng-template>
                </mat-tab>
                <!-- Seen Noti -->
                <mat-tab label="Đã đọc">
                  <ng-template #noSeenNotifications>
                    <p class="py-3 text-sm text-sub-text-color text-center">
                      Không có thông báo đã đọc
                    </p>
                  </ng-template>
                  <div
                    *ngIf="
                      this.seenNotiList.length > 0;
                      else noSeenNotifications
                    "
                    class="flex flex-col"
                  >
                    <div
                      *ngFor="let noti of seenNotiList; index as i"
                      class="flex flex-col text-sm pr-3 pl-3 pt-3 bg-gray-100"
                    >
                      <p class="text-primary-text-color font-medium mb-0">
                        {{ noti._title }}
                      </p>
                      <p
                        mat-raised-button
                        class="text-sub-text-color line-clamp-2"
                        [matTooltip]="noti._message"
                        [matTooltipPosition]="'left'"
                        [matTooltipClass]="'mr-3'"
                        matTooltipHideDelay="400"
                      >
                        {{ noti._message }}
                      </p>
                    </div>
                  </div>
                  <div
                    (click)="seeMoreNoti('seen')"
                    *ngIf="
                      this.seenNotiPagination!.page <
                      this.seenNotiPagination!.total
                    "
                  >
                    <p
                      class="text-sm text-center text-blue-500 hover:text-blue-700 cursor-pointer"
                    >
                      Xem thêm
                    </p>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <mat-divider
                *ngIf="unseenNotificaionList.length > 0"
              ></mat-divider>
              <div
                *ngIf="unseenNotificaionList.length > 0"
                class="sticky bottom-0 text-center bg-gray-100 z-40"
              >
                <p
                  class="text-sm text-sub-text-color p-3"
                  style="margin-bottom: 2px"
                >
                  {{ notificationTotals }} thông báo chưa đọc
                  <span
                    (click)="markAsReadAll()"
                    class="text-blue-500 cursor-pointer hover:text-blue-600 ml-1"
                    >Đánh dấu đã đọc</span
                  >
                </p>
              </div>
            </a>
          </mat-menu>
        </div>
      </div>
    </div>
  </nav>
</header>
