<div class="relative">
  <div *ngIf="isLoading" class="spinner__loading text-center">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <h2 mat-dialog-title>Duyệt bài viết</h2>
  <mat-dialog-content>
    <!-- Edit modal -->
    <div
      *ngIf="post"
      class="xs:flex xs:flex-col xs:col-span-12 lg:grid lg:col-span-9 bg-white-background py-4 px-8 mt-8 mb-8 rounded-lg"
    >
      <div class="flex flex-col">
        <!-- General Information -->
        <div class="mb-8">
          <!-- Title, time, like, report -->
          <div class="row flex justify-between mb-0 flex-wrap">
            <div class="flex flex-row justify-between flex-wrap">
              <p class="text-lg font-medium mb-0 mr-1">
                {{ post._title }}
              </p>
              <p
                class="relative top-1 text-sm font-normal italic mb-0"
                style="margin-left: 6px"
              >
                &#40;Ngày cập nhật gần nhất: {{ post._postingDateLocal }} &#41;
              </p>
            </div>
          </div>
          <!-- Price, Area -->
          <div
            class="row flex flex-row flex-wrap gap-4 items-center justify-between text-sm text-sub-text-color"
          >
            <p>
              Giá:
              <span class="text-text-price-color font-medium"
                >{{ post.roomPrice.toLocaleString() }}đ</span
              >
            </p>

            <p>
              Giá điện:
              <span class="text-text-price-color font-medium"
                >{{ post.roomElectricPrice.toLocaleString() }}đ</span
              >
            </p>

            <p>
              Giá nước:
              <span class="text-text-price-color font-medium"
                >{{ post.roomWaterPrice.toLocaleString() }}đ</span
              >
            </p>
            <p>
              Diện tích:
              <span class="font-medium">{{ post.roomArea }}m<sup>2</sup></span>
            </p>
          </div>

          <!-- Address -->
          <div
            class="row flex flex-row gap-4 items-center justify-between text-sm text-sub-text-color"
          >
            <p>
              Địa chỉ phòng trọ:
              <span class="font-medium">{{ post.roomAddress }}</span>
            </p>
          </div>

          <!-- Tags -->
          <div *ngIf="post._tags">
            <p class="text-base font-medium">Thẻ bài viết</p>
            <div class="flex flex-row flex-wrap">
              <div
                class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
                *ngFor="let tag of post._tags"
              >
                <span class="tag">
                  {{ tag._tag }}
                </span>
              </div>
            </div>
          </div>

          <!-- Dịch vụ -->
          <div>
            <p class="text-base font-medium">Dịch vụ đi kèm</p>
            <div
              class="flex flex-row flex-wrap"
              *ngIf="post.roomServices.length > 0; else noServicesBlock"
            >
              <div
                class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
                *ngFor="let tag of post.roomServices"
              >
                <span class="tag">
                  {{ tag }}
                </span>
              </div>
            </div>
            <ng-template #noServicesBlock>
              <p>Không có dịch vụ đi kèm.</p>
            </ng-template>
          </div>

          <!-- Tiện ích -->
          <div>
            <p class="text-base font-medium">Tiện ích đi kèm</p>
            <div
              class="flex flex-row flex-wrap"
              *ngIf="post.roomUtilities.length > 0; else noUltilitiesBlock"
            >
              <div
                class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300"
                *ngFor="let tag of post.roomUtilities"
              >
                <span class="tag">
                  {{ tag }}
                </span>
              </div>
            </div>
            <ng-template #noUltilitiesBlock>
              <p>Không có tiện ích đi kèm.</p>
            </ng-template>
          </div>

          <!-- Thông tin liên hệ -->
          <div>
            <p class="text-base font-medium">Thông tin liên hệ</p>
            <p>
              Chủ trọ:
              <span>{{ post.authorFName }} {{ post.authorLName }}</span>
            </p>
            <p>
              Số điện thoại: <span>{{ post.phoneNumber }}</span>
            </p>
          </div>
        </div>

        <!-- Image slider -->
        <app-slider [sliderItems]="post._images"></app-slider>

        <!-- Main content -->
        <div
          #contentToDisplay
          class="mt-4"
          [ngClass]="seeMore ? 'line-clamp-none' : 'line-clamp-4'"
        ></div>
        <span
          *ngIf="!seeMore"
          class="font-medium text-blue-500"
          (click)="seeMoreContentClick()"
        >
          Xem thêm
        </span>
        <span
          *ngIf="seeMore"
          class="font-medium text-blue-500"
          (click)="seeMoreContentClick()"
        >
          Ẩn bớt
        </span>

        <!-- Map -->
        <!-- <div class="relative">
        <p class="text-base font-medium">Bản đồ</p>
        <google-map
          class="absolute left-1/2 -translate-x-1/2 max-w-full"
          height="450"
          [center]="center"
          [zoom]="6"
        >
          <map-marker
            [position]="{ lat: this.center.lat, lng: this.center.lng }"
          ></map-marker>
        </google-map>
      </div> -->
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <!-- Từ chối những bài viết Chờ duyệt hoặc Đã duyệt (status = 1 || 0) -->
    <button
      *ngIf="this.data._status == 1 && this.data._status == 0"
      (click)="denyPost()"
      mat-button
      class="bg-red-700 hover:bg-red-800"
      style="color: white; background-color: rgba(255, 0, 0, 0.8)"
    >
      Hủy duyệt
    </button>
    <!-- Duyệt những bài viết Chờ duyệt hoặc Không được duyệt (status = 0 || 3) -->
    <button
      *ngIf="this.data._status === 0 && this.data._status === 3"
      (click)="sensor()"
      class="bg-blue-700 hover:bg-blue-800"
      style="color: white; background-color: #1a56db"
      mat-button
      type="button"
    >
      Duyệt
    </button>
    <!-- Từ chối những bài viết Bị báo cáo (status ) -->
    <button
      *ngIf="this.data._contentPost"
      (click)="removePost()"
      mat-button
      class="bg-red-700 hover:bg-red-800"
      style="color: white; background-color: rgba(255, 0, 0, 0.8)"
    >
      Gỡ bài viết
    </button>
  </mat-dialog-actions>
</div>
